:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--Very-Dark-Blue);
}

.container {
    /* border: 1px solid black; */
    border-radius: .7rem;
    width: 350px;
    height: 350px;
    margin: 100px auto;
    padding: 30px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: var(--Dark-Blue); */
    /* background-color: #18212a; */
    background-color: #1d232c;
    color: var(--White);
    font-family: 'Overpass', sans-serif;
}

.star-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* text-align: center; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #252f36;
}

.star {
    width: 0.8rem;
    height: 0.8rem;
    margin: auto;

}

h1 {
    font-weight: 700;
}

p {
    font-size: .8rem;
    font-weight: 400;
}

#btn-rating {
    display: flex;
    justify-content: space-between;
}

#btn-rating button {
    border-radius: 50%;
    /* width: 40px;
    height: 40px; */
    height: 2.5rem;
    width: 2.5rem;
    background-color: #272e38;
    color: var(--White);
}

#btn-rating button:hover {
    background-color: #7c8497;
}

#btn-rating button:focus {
    background-color: var(--Orange);
}

#submit {
    border-radius: 15rem;
    height: 2.5rem;
    background-color: var(--Orange);
    color: var(--White);
}

#submit:hover {
    background-color: var(--White);
    color: var(--Orange);
}

#thank-you {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

#thank-you-image {
    width: 100px;
}

#thank-you-h1 {
    font-size: 12px;
    font-weight: 300;
    color: var(--Orange);
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px;
}

.attribution,a{
    font-size: 15px;
    text-decoration: none;
    color: var(--White);
}